*.a
*.cache/
*.deps/
*.in
*.la
*.lo
*.log
*.m4
*.o
*.status
*.svg
*.swp
Makefile
\.pytest_cache/
\.test_env/
__pycache__/
build-aux/
build.h
config.h
configure
libtool
libtool.m4
lt*.m4
src/pyflame
stamp-h1
