sudo: required
compiler: gcc
dist: trusty
language: python

python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"

script:
  - sudo sysctl kernel.yama.ptrace_scope=0
  - unset PYTHON_CFLAGS
  - ./autogen.sh
  - ./configure
  - make
  - make test
